.box {
    display: inline-block;
    background-color: rgba(58,64,66,1);
    box-shadow: 10px 10px 0px #000; 
    margin: 120px 90px;
    text-align: center;
    padding: 42px 94px;

}
.box h2{
    margin-bottom: 28px;
}